@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@font-face{font-family:'tesla'; src:url('/fonts/tesla.ttf')}
@font-face{font-family:'Gotham Light'; src:url('/fonts/Gotham Light Regular.otf')}
*{
	font-family : "Nanum Gothic";
}
h1{
	font-family : "Gotham Light";
	text-align:center;
}

h3.jumbo{
	font-family : "Gotham Light";
	text-align:center;
}
p.jumbo{
	font-family : "Gotham Light";
	text-align:center;
	color:#F8F8FF;"
}

p{
	font-family : "Nanum Gothic";
}

h1.black{
	font-family : "Nanum Gothic";
	color : #000000;
}
h2.black{
	font-family : "Nanum Gothic";
	color : #000000;
}